/* parent */
.Title .parent {
  display: inline-block;
}

.Title h3 {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

/* hr parent */
.Title .child {
  display: flex;
}

.Title hr {
  flex-grow: 1;
  margin-top: 0;
  border: 2px solid #6b6b6b;
}
